.rbc-month-view .rbc-month-row + .rbc-month-row {
  border-top: 2px solid gray !important;
}

.rbc-month-view .rbc-day-bg + .rbc-day-bg {
  border-left: 2px solid gray !important;
}

.rbc-month-view .rbc-header {
  border-bottom: 2px solid gray !important;
}

.rbc-month-view .rbc-header + .rbc-header {
  border-left: 2px solid gray !important;
}
